---
layout: project
name: fighter
title: Banner fighter
subtitle: DESIGN | GAMIFICATION | ILLUSTRATION | COMPANY | BANNERS
date: 2017-03-01
description: >
    Banner Fighter is a game I made after designing, programming and testing creatives for over a year.
    I wanted to share some of the knowledge I'd learned with the rest of the company and improve my coding skills.
    So, what better way to do it than making a little game.
    <br>
    Give it a try!
extra_css: timeline
full_width: true
---

<div class="container">

  {% include carousel.html %}



  <p class="mid-gray f2 mb4 tc">
    This is how it all started
  </p>

</div>

{% include timeline.html %}

<!-- <p class="pv6 mh6 f1 near-white">This is a text to leave blank space :)</p> -->

<p class="mid-gray mb4 tc">
  The game was a huge success. Here is a small infographic of its impact.
</p>

<img src="/assets/imgs/projects/fighter/fighter_10.jpg" class="v-mid mb4 w-100 w-70-ns center db">

<p class="mid-gray mb4 tc w-100 w-70-ns center">
  The game was built with HTML, CSS and JS (ES6 and jQuery), integrated in a Grails app - a web framework
  aimed at multiplying developers' productivity. You can see the static version of the game on
  <a href="#" class="link bb mid-gray hover-blue">Github</a>.
</p>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/assets/js/util.js"> </script>
<script src="/assets/js/carousel.js"> </script>
<script type="text/javascript">
  $('.carousel').carousel()
</script>
