<div id="carouselExampleControls" class="carousel slide">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="w-100 h-100" src="/assets/imgs/projects/fighter/fighter_05.jpg" style="vertical-align: middle;">
    </div>
    <div class="carousel-item">
      <img class="w-100 h-100" src="/assets/imgs/projects/fighter/fighter_06.jpg" style="vertical-align: middle;">
    </div>
    <div class="carousel-item">
      <img class="w-100 h-100" src="/assets/imgs/projects/fighter/fighter_07.jpg" style="vertical-align: middle;">
    </div>
    <div class="carousel-item">
      <img class="w-100 h-100" src="/assets/imgs/projects/fighter/fighter_08.jpg" style="vertical-align: middle;">
    </div>
    <div class="carousel-item">
      <img class="w-100 h-100" src="/assets/imgs/projects/fighter/fighter_09.jpg" style="vertical-align: middle;">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="clip">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="clip">Next</span>
  </a>
</div>
