{% for c in site.projects %}
{% if c.title == page.title %}
  {% assign thisPost = c %}
  {% if forloop.index == 1 %}
    {% assign prevflag = 0 %}
    {% assign nextflag = 1 %}
  {% elsif forloop.index == forloop.length %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 0 %}
  {% else %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 1 %}
  {% endif %}
{% endif %}
{% endfor %}

{% for c in site.projects %}
  {% if c.title == page.title %}
    {% assign prevflag = 0 %}
  {% endif %}
  {% if prevflag == 1 %}
    {% assign prevPost = c %}
    {% assign page.previous = c %}
  {% endif %}
{% endfor %}

{% if nextflag == 1 %}
  {% for c in site.projects %}
    {% if foundPost == 1 %}
      {% assign getNext = 1 %}
    {% endif %}
    {% if c.title == page.title %}
      {% assign foundPost = 1 %}
    {% endif %}
    {% if getNext == 1%}
      {% assign nextPost = c %}
      {% assign page.next = c %}
      {% assign foundPost = 0 %}
      {% assign getNext = 0 %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="light-gray pv6 cf bg-near-white mh--1 mh--1-l">
  {% if prevPost.url %}
  <a class="mid-gray fl f4 v-mid w-40 pl6 ml6" href="{{prevPost.url}}">
    <span class="db mb3">&laquo; {{prevPost.title}}</span>
    <img src="/assets/imgs/projects/{{prevPost.name}}/{{prevPost.name}}_thumb.jpg" alt="{{prevPost.name}}">
  </a>
  {% endif %}
  {% if nextPost.url %}
  <a class="mid-gray fr tr f4 v-mid w-40 pr6 mr6" href="{{nextPost.url}}">
      <span class="db mb3">{{nextPost.title}} &raquo;</span>
      <img src="/assets/imgs/projects/{{nextPost.name}}/{{nextPost.name}}_thumb.jpg" alt="{{prevPost.name}}">
  </a>
  {% endif %}
</div>