{% for c in site.projects %}
{% if c.title == page.title %}
  {% assign thisPost = c %}
  {% if forloop.index == 1 %}
    {% assign prevflag = 0 %}
    {% assign nextflag = 1 %}
  {% elsif forloop.index == forloop.length %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 0 %}
  {% else %}
    {% assign prevflag = 1 %}
    {% assign nextflag = 1 %}
  {% endif %}
{% endif %}
{% endfor %}

{% for c in site.projects %}
  {% if c.title == page.title %}
    {% assign prevflag = 0 %}
  {% endif %}
  {% if prevflag == 1 %}
    {% assign prevPost = c %}
    {% assign page.previous = c %}
  {% endif %}
{% endfor %}

{% if nextflag == 1 %}
  {% for c in site.projects %}
    {% if foundPost == 1 %}
      {% assign getNext = 1 %}
    {% endif %}
    {% if c.title == page.title %}
      {% assign foundPost = 1 %}
    {% endif %}
    {% if getNext == 1%}
      {% assign nextPost = c %}
      {% assign page.next = c %}
      {% assign foundPost = 0 %}
      {% assign getNext = 0 %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="cf bg-near-white fixed bottom-0 left-0 right-0">
  <div class="light-gray pt6 pb5 container cf">
    {% if prevPost.url %}
    <a class="border-box mid-gray fl f4 v-mid w-50 pl4 pl6-l" href="{{prevPost.url}}">
      <div class="w-70-ns fr pr2 pr3-ns">
        <span class="db mb3">&laquo; {{prevPost.title}}</span>
        <img src="/assets/imgs/projects/{{prevPost.name}}/{{prevPost.name}}_thumb.jpg" alt="{{prevPost.name}}">
      </div>
    </a>
    {% endif %}
    {% if nextPost.url %}
    <a class="border-box mid-gray fr tr f4 v-mid w-50 pr4 pr6-l" href="{{nextPost.url}}">
      <div class="w-70-ns fl pl2 pl3-ns">
        <span class="db mb3">{{nextPost.title}} &raquo;</span>
        <img src="/assets/imgs/projects/{{nextPost.name}}/{{nextPost.name}}_thumb.jpg" alt="{{prevPost.name}}">
      </div>
    </a>
    {% endif %}
  </div>

  {% include footer.html %}
</div>


