	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2 class="fw3 f3">Creatives are one of the key parts of RTB <span class="nowrap">(Real-Time </span> Bidding)</h2>
				<p class="f4"> It's the only UI with the user, what’s in front of a very complicated system. On an average month, we had (you can have/ there are?) over 300M of impressions. And that’s a lot!</p>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<p class="f4">This was the starting point:</p>
				<img class="w-100 fl" src="/assets/imgs/projects/fighter/fighter_01.jpg" style="vertical-align: middle;">
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2 class="fw3 f3">	So, this is how I started:</h2>
				<img class="w-100 fl" src="/assets/imgs/projects/fighter/fighter_02.jpg" style="vertical-align: middle;">
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<p class="f4">Since the project started, we created over 800 creatives for 14 different sizes.
					 What started trying to combine good-looking creatives with data-driven decisions, became many different options:</p>
 			  <img class="w-100 fl" src="/assets/imgs/projects/fighter/fighter_03.jpg" style="vertical-align: middle;">
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<p>We went from an average 0.2% CTR to over 1.0%! That’s a really high number in Display and the Programmatic land.
					Below you can see the progression plus other insights:</p>
				<img class="w-100 fl" src="/assets/imgs/projects/fighter/fighter_04.jpg" style="vertical-align: middle;">
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

	</section> <!-- cd-timeline -->
