<div class="timeline-wrapper">
	<section id="cd-timeline" class="cd-container container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img">
			</div>

			<div class="cd-timeline-content">
				<p>I joined the RTB<span class="nowrap"> (Real-Time Bidding) </span>team,
					 where I enjoyed working side by side with engineers and data scientists.
				</p>
				<p>
					Creatives are one of the key parts of RTB as it's the only UI with the user.
					What’s in front of a very complex system to show the best creatives customised to each user.
				</p>
			</div>
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img">
			</div>

			<div class="cd-timeline-content">
				<p>When I joined the team, creatives where barely functional and not optimised.</p>
				<img class="w-100 fl v-mid" src="/assets/imgs/projects/fighter/fighter_01.jpg">
			</div>
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img">
			</div>

			<div class="cd-timeline-content">
				<p>	I started testing several options to find what fitted better for each case.</p>
				<img class="w-100 fl v-mid" src="/assets/imgs/projects/fighter/fighter_02.jpg">
			</div>
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img">
			</div>

			<div class="cd-timeline-content">
				<img class="w-100 fl v-mid" src="/assets/imgs/projects/fighter/fighter_03.jpg">
				<p>
					 What started trying to combine good-looking creatives with data-driven decisions,
					 became many different options.
				</p>
				<p>
					Since the project started, we created over 800 creatives for 14 different sizes.
				</p>
			</div>
		</div>

		<!-- <div class="cd-timeline-block">
			<div class="cd-timeline-img">
			</div>

			<div class="cd-timeline-content">
				<p>	On an average month, we had over 300M of impressions. And that’s a lot!
				<img class="w-100 fl v-mid" src="/assets/imgs/projects/fighter/fighter_04.jpg">
				<p>
					We went from an average 0.4% CTR to over 1.0%!
					That’s a really high number in Display and the Programmatic land.
				</p>
			</div>
		</div> -->

	</section> <!-- cd-timeline -->
</div>
