<div class="timeline-wrapper">
	<section id="cd-timeline" class="cd-container container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img">
			</div>

			<div class="cd-timeline-content">
				<p class="f5 f4-ns">I joined the RTB<span class="nowrap"> (Real-Time Bidding) </span>team,
					 where I enjoyed working side by side with engineers and data scientists.
				</p>
				<p class="f5 f4-ns">
					Together we developed a very complex system to offer the most suitable customised design to each user.
					Banners are one of the key parts of RTB as they are the only visible result of this process.
				</p>
			</div>
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img">
			</div>

			<div class="cd-timeline-content">
				<p class="f5 f4-ns">When I joined the team, banners where barely functional and not optimised.</p>
				<img class="w-100 w-70-ns center db v-mid" src="/assets/imgs/projects/fighter/fighter_01.jpg">
			</div>
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img">
			</div>

			<div class="cd-timeline-content">
				<p class="f5 f4-ns">	I started testing several options to find what fitted better for each case.</p>
				<img class="w-100 w-70-ns center db v-mid" src="/assets/imgs/projects/fighter/fighter_02.jpg">
			</div>
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img">
			</div>

			<div class="cd-timeline-content">
				<img class="w-100 center db v-mid" src="/assets/imgs/projects/fighter/fighter_03.jpg">
				<p class="f5 f4-ns">
					 What started with trying to combine good-looking designs with data-driven decisions,
					 turned into a wide variety of options.
				</p>
				<p class="f5 f4-ns">
					Since the project started, we created over 800 designs for 14 different sizes.
				</p>
			</div>
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img">
			</div>

			<div class="cd-timeline-content">
				<img class="w-100 fl v-mid" src="/assets/imgs/projects/fighter/fighter_04.jpg">
				<p class="f5 f4-ns">
					On an average month, we had over 400M banner impressions and
		      went from an average 0.4% CTR to over 1.0%!
		      That’s a really high number in the Display and Programmatic sector.
				</p>
			</div>
		</div>


	</section> <!-- cd-timeline -->
</div>
