@font-face {
  font-family: "VistaAltBlack";
  src: url('/assets/fonts/VistaSanAltBla.ttf') format('truetype');
}
@font-face {
  font-family: "VistaAltBold";
  src: url('/assets/fonts/VistaSanAltBol.ttf') format('truetype');
}
@font-face {
  font-family: "VistaAltBook";
  src: url('/assets/fonts/VistaSanAltBoo.ttf') format('truetype');
}
@font-face {
  font-family: "VistaAltLight";
  src: url('/assets/fonts/VistaSanAltLig.ttf') format('truetype');
}
